final submit/13_21127407_21127382_21127335.json
[
    {
        "id": "8d7c91e8fdc58ca7",
        "type": "tab",
        "label": "sign in",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f8a1aba4038c0ca1",
        "type": "tab",
        "label": "Home",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bcd029bb2fd55e96",
        "type": "tab",
        "label": "Register",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9a707663dfc1990e",
        "type": "tab",
        "label": "IFTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e40f3dd7850268b2",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "iot_door",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "335061a30a3ce467",
        "type": "ui_tab",
        "name": "Register",
        "icon": "dashboard",
        "disabled": false,
        "hidden": true
    },
    {
        "id": "f9c40dfb452af412",
        "type": "ui_group",
        "name": "Manipulate data",
        "tab": "335061a30a3ce467",
        "order": 2,
        "disp": true,
        "width": "23",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0613d1a52be909e0",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "74da67c4b792e198",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "66c01cef2411ea31",
        "type": "ui_group",
        "name": "Information",
        "tab": "335061a30a3ce467",
        "order": 5,
        "disp": true,
        "width": 23,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1fc8878b4fe3fc33",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0e8a57501d0a7739",
        "type": "ui_group",
        "name": "Login",
        "tab": "e3fa4c65f2a5cd25",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e3fa4c65f2a5cd25",
        "type": "ui_tab",
        "name": "Login",
        "icon": "dashboard",
        "disabled": false,
        "hidden": true
    },
    {
        "id": "0f15a0ad04b59a61",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": true
    },
    {
        "id": "af61b3bc094d5805",
        "type": "ui_group",
        "name": "Home",
        "tab": "0f15a0ad04b59a61",
        "order": 2,
        "disp": true,
        "width": "26",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eb817dcd1bf43434",
        "type": "ui_group",
        "name": "Move tab",
        "tab": "335061a30a3ce467",
        "order": 1,
        "disp": false,
        "width": 23,
        "collapse": false,
        "className": ""
    },
    {
        "id": "57875892e4d54dd5",
        "type": "ui_spacer",
        "z": "bcd029bb2fd55e96",
        "name": "spacer",
        "group": "600cb50a21797774",
        "order": 2,
        "width": 4,
        "height": 1
    },
    {
        "id": "41a89cc6510b194f",
        "type": "ui_spacer",
        "z": "bcd029bb2fd55e96",
        "name": "spacer",
        "group": "600cb50a21797774",
        "order": 3,
        "width": 4,
        "height": 1
    },
    {
        "id": "ff88d3ac348830c4",
        "type": "ui_spacer",
        "z": "bcd029bb2fd55e96",
        "name": "spacer",
        "group": "6668fd1f17871daa",
        "order": 3,
        "width": 4,
        "height": 1
    },
    {
        "id": "63e4a468611a9fcf",
        "type": "local-storage",
        "name": "test"
    },
    {
        "id": "b82da486.9fc8d8",
        "type": "ui_group",
        "name": "Signin",
        "tab": "d65502b1.ee517",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c35e46a8.b04ce8",
        "type": "ui_group",
        "name": "SensorData",
        "tab": "d65502b1.ee517",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4de9506d.e7364",
        "type": "ui_group",
        "name": "History",
        "tab": "d65502b1.ee517",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d65502b1.ee517",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "247aaec8f15ccca8",
        "type": "ui_group",
        "name": "Home",
        "tab": "5c7d5e80fec1a91f",
        "order": 1,
        "disp": true,
        "width": "27",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5c7d5e80fec1a91f",
        "type": "ui_tab",
        "name": "Event Logs",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ba68e5c64111663d",
        "type": "ui_spacer",
        "z": "bcd029bb2fd55e96",
        "name": "spacer",
        "group": "eb817dcd1bf43434",
        "order": 2,
        "width": 18,
        "height": 1
    },
    {
        "id": "d5023ab62e52b58c",
        "type": "ui_spacer",
        "z": "bcd029bb2fd55e96",
        "name": "spacer",
        "group": "f9c40dfb452af412",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "e6b75e2c9eab6461",
        "type": "ui_spacer",
        "z": "bcd029bb2fd55e96",
        "name": "spacer",
        "group": "f9c40dfb452af412",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "a6d7429fe76e9b69",
        "type": "ui_spacer",
        "z": "bcd029bb2fd55e96",
        "name": "spacer",
        "group": "f9c40dfb452af412",
        "order": 6,
        "width": 7,
        "height": 1
    },
    {
        "id": "f0d9820bccd20e52",
        "type": "ui_spacer",
        "z": "bcd029bb2fd55e96",
        "name": "spacer",
        "group": "f9c40dfb452af412",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "1a3e4badcd7642cb",
        "type": "ui_spacer",
        "z": "bcd029bb2fd55e96",
        "name": "spacer",
        "group": "f9c40dfb452af412",
        "order": 10,
        "width": 7,
        "height": 1
    },
    {
        "id": "244fa614fc404ec6",
        "type": "ui_spacer",
        "z": "bcd029bb2fd55e96",
        "name": "spacer",
        "group": "f9c40dfb452af412",
        "order": 12,
        "width": 17,
        "height": 1
    },
    {
        "id": "fd1f733ffd84f41f",
        "type": "ui_spacer",
        "z": "bcd029bb2fd55e96",
        "name": "spacer",
        "group": "f9c40dfb452af412",
        "order": 14,
        "width": 17,
        "height": 1
    },
    {
        "id": "fae4a92fcd6d6482",
        "type": "ui_spacer",
        "z": "bcd029bb2fd55e96",
        "name": "spacer",
        "group": "f9c40dfb452af412",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "93840974c670cc7b",
        "type": "ui_spacer",
        "z": "bcd029bb2fd55e96",
        "name": "spacer",
        "group": "f9c40dfb452af412",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "7dec8c7b5fa681c9",
        "type": "ui_spacer",
        "z": "bcd029bb2fd55e96",
        "name": "spacer",
        "group": "f9c40dfb452af412",
        "order": 20,
        "width": 7,
        "height": 1
    },
    {
        "id": "6ff4479ee53d3896",
        "type": "ui_group",
        "name": "moveTab",
        "tab": "0f15a0ad04b59a61",
        "order": 1,
        "disp": false,
        "width": "26",
        "collapse": false,
        "className": ""
    },
    {
        "id": "07b596d32d23f959",
        "type": "ui_spacer",
        "z": "f8a1aba4038c0ca1",
        "name": "spacer",
        "group": "6ff4479ee53d3896",
        "order": 2,
        "width": 23,
        "height": 1
    },
    {
        "id": "4083cf1cf9400859",
        "type": "ui_spacer",
        "z": "f8a1aba4038c0ca1",
        "name": "spacer",
        "group": "af61b3bc094d5805",
        "order": 2,
        "width": 17,
        "height": 1
    },
    {
        "id": "81203de2e5479e1f",
        "type": "ui_spacer",
        "z": "f8a1aba4038c0ca1",
        "name": "spacer",
        "group": "af61b3bc094d5805",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "cba661f0373beeb9",
        "type": "ui_spacer",
        "z": "f8a1aba4038c0ca1",
        "name": "spacer",
        "group": "af61b3bc094d5805",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "e312e51b53cd7018",
        "type": "ui_spacer",
        "z": "f8a1aba4038c0ca1",
        "name": "spacer",
        "group": "af61b3bc094d5805",
        "order": 7,
        "width": 17,
        "height": 1
    },
    {
        "id": "6f6929bb724167e5",
        "type": "ui_spacer",
        "z": "f8a1aba4038c0ca1",
        "name": "spacer",
        "group": "af61b3bc094d5805",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "6dfa83e81960320b",
        "type": "ui_spacer",
        "z": "f8a1aba4038c0ca1",
        "name": "spacer",
        "group": "af61b3bc094d5805",
        "order": 10,
        "width": 8,
        "height": 1
    },
    {
        "id": "1203dba4efb6fb34",
        "type": "ui_spacer",
        "z": "f8a1aba4038c0ca1",
        "name": "spacer",
        "group": "af61b3bc094d5805",
        "order": 11,
        "width": 6,
        "height": 1
    },
    {
        "id": "51e589fdc243e862",
        "type": "ui_spacer",
        "z": "f8a1aba4038c0ca1",
        "name": "spacer",
        "group": "af61b3bc094d5805",
        "order": 13,
        "width": 26,
        "height": 1
    },
    {
        "id": "1df821e01a0a7d0b",
        "type": "ui_spacer",
        "z": "f8a1aba4038c0ca1",
        "name": "spacer",
        "group": "af61b3bc094d5805",
        "order": 15,
        "width": 9,
        "height": 1
    },
    {
        "id": "baeb9369e2acf55c",
        "type": "ui_spacer",
        "z": "f8a1aba4038c0ca1",
        "name": "spacer",
        "group": "af61b3bc094d5805",
        "order": 17,
        "width": 6,
        "height": 1
    },
    {
        "id": "08a713cccd8a0204",
        "type": "ui_spacer",
        "z": "f8a1aba4038c0ca1",
        "name": "spacer",
        "group": "af61b3bc094d5805",
        "order": 18,
        "width": 14,
        "height": 1
    },
    {
        "id": "e0f655c55950acfe",
        "type": "ui_spacer",
        "z": "f8a1aba4038c0ca1",
        "name": "spacer",
        "group": "af61b3bc094d5805",
        "order": 20,
        "width": 2,
        "height": 1
    },
    {
        "id": "733629228f4b1ef3",
        "type": "ui_spacer",
        "z": "f8a1aba4038c0ca1",
        "name": "spacer",
        "group": "af61b3bc094d5805",
        "order": 23,
        "width": 2,
        "height": 1
    },
    {
        "id": "392f328476611d08",
        "type": "ui_spacer",
        "z": "f8a1aba4038c0ca1",
        "name": "spacer",
        "group": "af61b3bc094d5805",
        "order": 25,
        "width": 2,
        "height": 1
    },
    {
        "id": "9b7b9f87b568f444",
        "type": "ui_spacer",
        "z": "f8a1aba4038c0ca1",
        "name": "spacer",
        "group": "af61b3bc094d5805",
        "order": 26,
        "width": 2,
        "height": 1
    },
    {
        "id": "4b2ad498e4ef86b9",
        "type": "ui_spacer",
        "z": "f8a1aba4038c0ca1",
        "name": "spacer",
        "group": "af61b3bc094d5805",
        "order": 27,
        "width": 2,
        "height": 1
    },
    {
        "id": "7c1577a23e4d19f7",
        "type": "ui_spacer",
        "z": "f8a1aba4038c0ca1",
        "name": "spacer",
        "group": "af61b3bc094d5805",
        "order": 28,
        "width": 2,
        "height": 1
    },
    {
        "id": "7fbc8a5a09039e1f",
        "type": "ui_spacer",
        "z": "f8a1aba4038c0ca1",
        "name": "spacer",
        "group": "af61b3bc094d5805",
        "order": 29,
        "width": 2,
        "height": 1
    },
    {
        "id": "8d69178c9ce60375",
        "type": "ui_spacer",
        "z": "f8a1aba4038c0ca1",
        "name": "spacer",
        "group": "af61b3bc094d5805",
        "order": 30,
        "width": 2,
        "height": 1
    },
    {
        "id": "e98cfc00bd021e4b",
        "type": "ui_spacer",
        "z": "f8a1aba4038c0ca1",
        "name": "spacer",
        "group": "af61b3bc094d5805",
        "order": 31,
        "width": 2,
        "height": 1
    },
    {
        "id": "6efd8979c28530ad",
        "type": "function",
        "z": "8d7c91e8fdc58ca7",
        "name": "check username pw",
        "func": "\nif (msg.payload.length != 0)\n{\n    var user = '\\\"' + msg.payload[0].id + '\\\"'\n    msg.payload = '{\\\"key\\\":\\\"user\\\",\\\"value\\\":' + user +'}'\n    msg.localStorage = JSON.parse(msg.payload)\n    msg.success = 1;\n}\nelse\n{\n    msg.success = 0;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 420,
        "wires": [
            [
                "19adcae4f1cd6089"
            ]
        ]
    },
    {
        "id": "f76415f880c9374b",
        "type": "ui_ui_control",
        "z": "8d7c91e8fdc58ca7",
        "name": "",
        "events": "all",
        "x": 1660,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "748e42b8d9231a80",
        "type": "change",
        "z": "8d7c91e8fdc58ca7",
        "name": "login to register page",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Register\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1460,
        "y": 320,
        "wires": [
            [
                "f76415f880c9374b"
            ]
        ]
    },
    {
        "id": "19adcae4f1cd6089",
        "type": "switch",
        "z": "8d7c91e8fdc58ca7",
        "name": "",
        "property": "success",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "neq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1250,
        "y": 420,
        "wires": [
            [
                "748e42b8d9231a80",
                "019f5442aeb19fa1"
            ],
            [
                "1d960eb617f3f71f"
            ]
        ]
    },
    {
        "id": "5ad1c0f2667f7ac5",
        "type": "ui_toast",
        "z": "8d7c91e8fdc58ca7",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1710,
        "y": 480,
        "wires": []
    },
    {
        "id": "1d960eb617f3f71f",
        "type": "function",
        "z": "8d7c91e8fdc58ca7",
        "name": "unsucess Login",
        "func": "msg.payload = \"Login unsucessfully\"\nmsg.topic = ''\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 480,
        "wires": [
            [
                "5ad1c0f2667f7ac5"
            ]
        ]
    },
    {
        "id": "019f5442aeb19fa1",
        "type": "function",
        "z": "8d7c91e8fdc58ca7",
        "name": "sucess Login",
        "func": "msg.payload = \"Login sucessfully\"\nmsg.topic = ''\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1450,
        "y": 360,
        "wires": [
            [
                "ec2af34eeac18134"
            ]
        ]
    },
    {
        "id": "ec2af34eeac18134",
        "type": "ui_toast",
        "z": "8d7c91e8fdc58ca7",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1650,
        "y": 360,
        "wires": []
    },
    {
        "id": "32ebca8dc8b212b5",
        "type": "ui_form",
        "z": "8d7c91e8fdc58ca7",
        "name": "",
        "label": "",
        "group": "0e8a57501d0a7739",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": ""
        },
        "payload": "",
        "submit": "Login",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 350,
        "y": 420,
        "wires": [
            [
                "01950e24d54a97af"
            ]
        ]
    },
    {
        "id": "ea12a77ad0df1b37",
        "type": "mysql",
        "z": "8d7c91e8fdc58ca7",
        "mydb": "e40f3dd7850268b2",
        "name": "get account from db",
        "x": 780,
        "y": 420,
        "wires": [
            [
                "6efd8979c28530ad"
            ]
        ]
    },
    {
        "id": "01950e24d54a97af",
        "type": "function",
        "z": "8d7c91e8fdc58ca7",
        "name": "query account pw",
        "func": "var user = msg.payload.username;\nvar pw = msg.payload.password;\n\nuser = '\\'' + user + '\\''\npw = '\\'' + pw + '\\''\n\nvar query = 'select * from employee where role = \\'M\\' and id = ' + user + ' and pw = ' + pw\nmsg.topic = query\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 420,
        "wires": [
            [
                "ea12a77ad0df1b37"
            ]
        ]
    },
    {
        "id": "5a19341639b10cae",
        "type": "inject",
        "z": "8d7c91e8fdc58ca7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 420,
        "wires": [
            [
                "32ebca8dc8b212b5"
            ]
        ]
    },
    {
        "id": "d0335eab8cb70929",
        "type": "mqtt in",
        "z": "f8a1aba4038c0ca1",
        "name": "",
        "topic": "IOT_Smart_Door/RFID/OpenDoor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0613d1a52be909e0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 280,
        "wires": [
            [
                "026412b1c5d91139"
            ]
        ]
    },
    {
        "id": "abddf3b2669250df",
        "type": "mysql",
        "z": "f8a1aba4038c0ca1",
        "mydb": "e40f3dd7850268b2",
        "name": " SEARCH ID",
        "x": 630,
        "y": 280,
        "wires": [
            [
                "fb018d23cf446484"
            ]
        ]
    },
    {
        "id": "fb018d23cf446484",
        "type": "function",
        "z": "f8a1aba4038c0ca1",
        "name": "check ID, permission, get in/out",
        "func": "// check id\nif (msg.payload.length == 0)\n    msg.payload = 0\nelse\n{\n    //check get in or out\n    if (msg.payload[0].time_in == null) // first get in\n    {\n        msg.get_in = 'get in';\n    }\n    else\n    {\n        msg.get_in = 'get out';\n        msg.time_in = msg.payload[0].time_in\n        msg.time_out = msg.payload[0].time_out\n        msg.name = msg.payload[0].name\n    }\n\n    // check permission\n    if (msg.payload[0].permission == 'YES' || msg.payload[0].role == 'M')\n        msg.payload = 1\n    else\n        msg.payload = 0\n    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 280,
        "wires": [
            [
                "20f7b361b42af35a"
            ]
        ]
    },
    {
        "id": "026412b1c5d91139",
        "type": "function",
        "z": "f8a1aba4038c0ca1",
        "name": "search ID in db",
        "func": "var id = msg.payload\nvar query = 'select E.id, E.name, E.role, E.permission, AR.time_get_in as \\'time_in\\', NOW() as \\'time_out\\'  from employee E left join currently_at_room AR on E.id = AR.id where E.id = \\'' + id + '\\''\nmsg.topic =  query\nmsg.id = id\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 280,
        "wires": [
            [
                "abddf3b2669250df"
            ]
        ]
    },
    {
        "id": "20f7b361b42af35a",
        "type": "switch",
        "z": "f8a1aba4038c0ca1",
        "name": "Open un/successfully",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1140,
        "y": 280,
        "wires": [
            [
                "e6edc6dd336381fd"
            ],
            [
                "ee74dbf4e71a71b6"
            ]
        ]
    },
    {
        "id": "9ca516b58d385c11",
        "type": "mqtt out",
        "z": "f8a1aba4038c0ca1",
        "name": "",
        "topic": "IOT_Smart_Door/RFID/AccessPermission",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0613d1a52be909e0",
        "x": 1640,
        "y": 220,
        "wires": []
    },
    {
        "id": "e6edc6dd336381fd",
        "type": "function",
        "z": "f8a1aba4038c0ca1",
        "name": "denied msg",
        "func": "msg.payload = 'denied'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 220,
        "wires": [
            [
                "9ca516b58d385c11"
            ]
        ]
    },
    {
        "id": "ee74dbf4e71a71b6",
        "type": "function",
        "z": "f8a1aba4038c0ca1",
        "name": "accept msg",
        "func": "msg.payload = 'accept'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 320,
        "wires": [
            [
                "9ca516b58d385c11",
                "c705ac8505e7defd",
                "8057110058c181d1"
            ]
        ]
    },
    {
        "id": "c705ac8505e7defd",
        "type": "mqtt out",
        "z": "f8a1aba4038c0ca1",
        "name": "",
        "topic": "IOT_Smart_Door/Motor/OpenAuto",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0613d1a52be909e0",
        "x": 1660,
        "y": 340,
        "wires": []
    },
    {
        "id": "1512d5c4a09485ab",
        "type": "mqtt out",
        "z": "f8a1aba4038c0ca1",
        "name": "",
        "topic": "IOT_Smart_Door/Door_Mode",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0613d1a52be909e0",
        "x": 690,
        "y": 540,
        "wires": []
    },
    {
        "id": "4e4d5ef09eb35198",
        "type": "comment",
        "z": "f8a1aba4038c0ca1",
        "name": "Open unsuccessfully",
        "info": "",
        "x": 1350,
        "y": 180,
        "wires": []
    },
    {
        "id": "f35fc2eb6b205b91",
        "type": "comment",
        "z": "f8a1aba4038c0ca1",
        "name": "Open successfully",
        "info": "",
        "x": 1290,
        "y": 380,
        "wires": []
    },
    {
        "id": "8057110058c181d1",
        "type": "switch",
        "z": "f8a1aba4038c0ca1",
        "name": "get in or out",
        "property": "get_in",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "get in",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "get out",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1470,
        "y": 460,
        "wires": [
            [
                "e4fa6784370b76f6"
            ],
            [
                "18d4f064ad9ac2ba"
            ]
        ]
    },
    {
        "id": "96aaa426fd570135",
        "type": "comment",
        "z": "f8a1aba4038c0ca1",
        "name": "Return un/sucess msg",
        "info": "",
        "x": 1580,
        "y": 180,
        "wires": []
    },
    {
        "id": "e4fa6784370b76f6",
        "type": "function",
        "z": "f8a1aba4038c0ca1",
        "name": "insert qry to currently_at_room",
        "func": "var id = msg.id\nvar query = 'insert into currently_at_room values(\\'' + id + '\\', NOW())'\nmsg.topic = query\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1770,
        "y": 400,
        "wires": [
            [
                "80de71bddeb494eb"
            ]
        ]
    },
    {
        "id": "80de71bddeb494eb",
        "type": "mysql",
        "z": "f8a1aba4038c0ca1",
        "mydb": "e40f3dd7850268b2",
        "name": "currently_at_room",
        "x": 2110,
        "y": 420,
        "wires": [
            [
                "9503175e8eace559"
            ]
        ]
    },
    {
        "id": "18d4f064ad9ac2ba",
        "type": "function",
        "z": "f8a1aba4038c0ca1",
        "name": "delete id in currently_at_room",
        "func": "var id = msg.id\nvar query = 'delete from currently_at_room where id = \\'' + id + '\\''\nmsg.topic = query\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1770,
        "y": 460,
        "wires": [
            [
                "80de71bddeb494eb",
                "fa6de3e10960a205"
            ]
        ]
    },
    {
        "id": "fa6de3e10960a205",
        "type": "http request",
        "z": "f8a1aba4038c0ca1",
        "name": "Pass Info",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/update?api_key=WLC4P4W0Q8V25SZR&field1={{id}}&field2={{name}}&field3={{time_in}}&field4={{time_out}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 2080,
        "y": 580,
        "wires": [
            [
                "53fcedbc462b3fbe"
            ]
        ]
    },
    {
        "id": "53fcedbc462b3fbe",
        "type": "http request",
        "z": "f8a1aba4038c0ca1",
        "name": "Receive Info",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/channels/2242198/feeds.json?api_key=Y90EPUR7C2QDPAE6",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2270,
        "y": 580,
        "wires": [
            [
                "1cd6263a36790bbe",
                "af8cb5050668c95f"
            ]
        ]
    },
    {
        "id": "1cd6263a36790bbe",
        "type": "function",
        "z": "f8a1aba4038c0ca1",
        "name": "History",
        "func": "\nvar arr = []\nvar date = flow.get('sort_date') || undefined\n\nif(date == undefined || date == false)\n{\n    msg.payload = msg.payload.feeds\n    return msg\n}\n\nfor (var i = 0; i < msg.payload.feeds.length; i++)\n{\n    if (isNaN(Date.parse(msg.payload.feeds[i].field3)))\n        continue\n    var tempDate = new Date(Date.parse(msg.payload.feeds[i].field3))\n    tempDate.setHours(tempDate.getHours() - 7)\n    if (tempDate.toDateString() == date.toDateString())\n        arr.push(msg.payload.feeds[i])\n}\nmsg.payload = arr\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2460,
        "y": 580,
        "wires": [
            [
                "8138391bbf169489",
                "af8cb5050668c95f"
            ]
        ]
    },
    {
        "id": "8138391bbf169489",
        "type": "ui_table",
        "z": "f8a1aba4038c0ca1",
        "group": "af61b3bc094d5805",
        "name": "History",
        "order": 24,
        "width": 12,
        "height": 8,
        "columns": [
            {
                "field": "field1",
                "title": "ID",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "field2",
                "title": "Name",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "field3",
                "title": "time get in",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "field4",
                "title": "time get out",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 2640,
        "y": 580,
        "wires": []
    },
    {
        "id": "9503175e8eace559",
        "type": "function",
        "z": "f8a1aba4038c0ca1",
        "name": "qry currently at room",
        "func": "var query = \"select E.id, E.name, AT.time_get_in from employee E join currently_at_room AT on E.id = AT.id\"\nmsg.topic = query\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2360,
        "y": 420,
        "wires": [
            [
                "0b4356a09f4d9734"
            ]
        ]
    },
    {
        "id": "0b4356a09f4d9734",
        "type": "mysql",
        "z": "f8a1aba4038c0ca1",
        "mydb": "e40f3dd7850268b2",
        "name": "get currently at room",
        "x": 2620,
        "y": 420,
        "wires": [
            [
                "4cc9ab523ac307d4",
                "82b518aa8c8167fb",
                "0d588ebefb787924"
            ]
        ]
    },
    {
        "id": "4cc9ab523ac307d4",
        "type": "ui_table",
        "z": "f8a1aba4038c0ca1",
        "group": "af61b3bc094d5805",
        "name": "Currently at room",
        "order": 22,
        "width": 12,
        "height": 8,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 2910,
        "y": 420,
        "wires": []
    },
    {
        "id": "f507968dadecd5cd",
        "type": "ui_switch",
        "z": "f8a1aba4038c0ca1",
        "name": "",
        "label": "Door Mode (RFID\\PIR)",
        "tooltip": "",
        "group": "af61b3bc094d5805",
        "order": 4,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "PIR",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "RFID",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 220,
        "y": 540,
        "wires": [
            [
                "27c947ede470fecf",
                "c9acacafd1b47524"
            ]
        ]
    },
    {
        "id": "2eef5bc17b82f2e1",
        "type": "ui_slider",
        "z": "f8a1aba4038c0ca1",
        "name": "",
        "label": "Delay Time Openning Door",
        "tooltip": "",
        "group": "af61b3bc094d5805",
        "order": 12,
        "width": 11,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "5",
        "max": "20",
        "step": 1,
        "className": "",
        "x": 240,
        "y": 700,
        "wires": [
            [
                "03e431181aa1e722"
            ]
        ]
    },
    {
        "id": "523ddc2f72122460",
        "type": "ui_gauge",
        "z": "f8a1aba4038c0ca1",
        "name": "",
        "group": "af61b3bc094d5805",
        "order": 1,
        "width": 9,
        "height": 5,
        "gtype": "gage",
        "title": "Number of people at room",
        "label": "people",
        "format": "{{payload}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "40",
        "diff": false,
        "className": "",
        "x": 3150,
        "y": 360,
        "wires": []
    },
    {
        "id": "f7f1fa39c7f2f937",
        "type": "inject",
        "z": "f8a1aba4038c0ca1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 2170,
        "y": 500,
        "wires": [
            [
                "9503175e8eace559",
                "53fcedbc462b3fbe"
            ]
        ]
    },
    {
        "id": "82b518aa8c8167fb",
        "type": "function",
        "z": "f8a1aba4038c0ca1",
        "name": "get_number_of people",
        "func": "msg.payload = msg.payload.length || 0\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2920,
        "y": 360,
        "wires": [
            [
                "523ddc2f72122460",
                "0d588ebefb787924"
            ]
        ]
    },
    {
        "id": "0d588ebefb787924",
        "type": "debug",
        "z": "f8a1aba4038c0ca1",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2800,
        "y": 300,
        "wires": []
    },
    {
        "id": "decddf8ca2409996",
        "type": "ui_text",
        "z": "f8a1aba4038c0ca1",
        "group": "af61b3bc094d5805",
        "order": 16,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "History",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Verdana,Verdana,Geneva,sans-serif",
        "fontSize": "24",
        "color": "#1c5798",
        "x": 2660,
        "y": 540,
        "wires": []
    },
    {
        "id": "9b44f5de20e12507",
        "type": "ui_text",
        "z": "f8a1aba4038c0ca1",
        "group": "af61b3bc094d5805",
        "order": 14,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Currently at room",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "24",
        "color": "#1c5798",
        "x": 2910,
        "y": 460,
        "wires": []
    },
    {
        "id": "740ebd3981d97365",
        "type": "ui_date_picker",
        "z": "f8a1aba4038c0ca1",
        "name": "",
        "label": "date",
        "group": "af61b3bc094d5805",
        "order": 19,
        "width": 7,
        "height": 1,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 2110,
        "y": 700,
        "wires": [
            [
                "1252edc41e746cdf"
            ]
        ]
    },
    {
        "id": "1252edc41e746cdf",
        "type": "function",
        "z": "f8a1aba4038c0ca1",
        "name": "save date to flow",
        "func": "var date = new Date(msg.payload)\nflow.set('sort_date', date)\nmsg.test2= date\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2290,
        "y": 700,
        "wires": [
            [
                "53fcedbc462b3fbe"
            ]
        ]
    },
    {
        "id": "af8cb5050668c95f",
        "type": "debug",
        "z": "f8a1aba4038c0ca1",
        "name": "debug 21",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "test",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2500,
        "y": 640,
        "wires": []
    },
    {
        "id": "bdc6aaa5ce905652",
        "type": "inject",
        "z": "f8a1aba4038c0ca1",
        "name": "",
        "props": [
            {
                "p": "test",
                "v": "ok",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1970,
        "y": 620,
        "wires": [
            [
                "53fcedbc462b3fbe"
            ]
        ]
    },
    {
        "id": "97c4d9aab630face",
        "type": "ui_button",
        "z": "f8a1aba4038c0ca1",
        "name": "",
        "group": "af61b3bc094d5805",
        "order": 21,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "ALL",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 2090,
        "y": 660,
        "wires": [
            [
                "5d3e86d205f48c6c"
            ]
        ]
    },
    {
        "id": "542f4112e8a3ccbe",
        "type": "mqtt out",
        "z": "f8a1aba4038c0ca1",
        "name": "",
        "topic": "IOT_Smart_Door/Motor/OpenAuto",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0613d1a52be909e0",
        "x": 600,
        "y": 660,
        "wires": []
    },
    {
        "id": "a86680aaeb4a8f09",
        "type": "mqtt out",
        "z": "f8a1aba4038c0ca1",
        "name": "",
        "topic": "IOT_Smart_Door/Motor/SetWaiting",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0613d1a52be909e0",
        "x": 720,
        "y": 700,
        "wires": []
    },
    {
        "id": "5d3e86d205f48c6c",
        "type": "function",
        "z": "f8a1aba4038c0ca1",
        "name": "Delete sort_date",
        "func": "flow.set('sort_date', false)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2240,
        "y": 660,
        "wires": [
            [
                "53fcedbc462b3fbe"
            ]
        ]
    },
    {
        "id": "27c947ede470fecf",
        "type": "ui_text",
        "z": "f8a1aba4038c0ca1",
        "group": "af61b3bc094d5805",
        "order": 6,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Door Mode",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 510,
        "y": 500,
        "wires": []
    },
    {
        "id": "024dcde87cf6db8e",
        "type": "ui_button",
        "z": "f8a1aba4038c0ca1",
        "name": "",
        "group": "6ff4479ee53d3896",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Register page",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 180,
        "wires": [
            [
                "1ce45d5d466a7552"
            ]
        ]
    },
    {
        "id": "256dd6c7e295035d",
        "type": "ui_ui_control",
        "z": "f8a1aba4038c0ca1",
        "name": "",
        "events": "all",
        "x": 620,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "1ce45d5d466a7552",
        "type": "change",
        "z": "f8a1aba4038c0ca1",
        "name": "move to register",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Register\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 180,
        "wires": [
            [
                "256dd6c7e295035d"
            ]
        ]
    },
    {
        "id": "03e431181aa1e722",
        "type": "function",
        "z": "f8a1aba4038c0ca1",
        "name": "set time",
        "func": "msg.payload = msg.payload * 1000\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 700,
        "wires": [
            [
                "a86680aaeb4a8f09"
            ]
        ]
    },
    {
        "id": "93a5f487c2ddf3ae",
        "type": "ui_button",
        "z": "f8a1aba4038c0ca1",
        "name": "",
        "group": "af61b3bc094d5805",
        "order": 9,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Open door",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 660,
        "wires": [
            [
                "542f4112e8a3ccbe"
            ]
        ]
    },
    {
        "id": "c9acacafd1b47524",
        "type": "function",
        "z": "f8a1aba4038c0ca1",
        "name": "function 1",
        "func": "if (msg.payload == \"RFID\")\n{\n    msg.payload = \"RFID\";\n}\nelse    \n    msg.payload = \"PIR\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 540,
        "wires": [
            [
                "1512d5c4a09485ab"
            ]
        ]
    },
    {
        "id": "dcb06e92ab53484f",
        "type": "ui_text_input",
        "z": "bcd029bb2fd55e96",
        "name": "",
        "label": "id",
        "tooltip": "",
        "group": "f9c40dfb452af412",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "id",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 290,
        "y": 100,
        "wires": [
            [
                "df5bf6a5d225b2c1"
            ]
        ]
    },
    {
        "id": "8a68b5aa93ed3642",
        "type": "ui_text_input",
        "z": "bcd029bb2fd55e96",
        "name": "",
        "label": "name",
        "tooltip": "",
        "group": "f9c40dfb452af412",
        "order": 7,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "name",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 290,
        "y": 160,
        "wires": [
            [
                "11376ebb65e7be6e"
            ]
        ]
    },
    {
        "id": "c5ecbf2223b95974",
        "type": "ui_dropdown",
        "z": "bcd029bb2fd55e96",
        "name": "",
        "label": "role",
        "tooltip": "",
        "place": "Select option",
        "group": "f9c40dfb452af412",
        "order": 11,
        "width": 6,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "master",
                "value": "M",
                "type": "str"
            },
            {
                "label": "employee",
                "value": "E",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "role",
        "topicType": "str",
        "className": "",
        "x": 290,
        "y": 200,
        "wires": [
            [
                "93334d9b48d41b56",
                "4777ccd6e3f3de36"
            ]
        ]
    },
    {
        "id": "f11fc7385b91d72a",
        "type": "ui_button",
        "z": "bcd029bb2fd55e96",
        "name": "",
        "group": "f9c40dfb452af412",
        "order": 15,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Register",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 620,
        "y": 360,
        "wires": [
            [
                "435241551983f170"
            ]
        ]
    },
    {
        "id": "4c4c0c85bddf39fb",
        "type": "function",
        "z": "bcd029bb2fd55e96",
        "name": "get personInfor from flow",
        "func": "var data = flow.get('personInfor')\nvar values = 'VALUES(\\'' +data[0] + '\\',\\'' + data[1] + '\\',\\'' + data[2] + '\\', \\'YES\\''\nif (data[2] == 'M')\n{\n    values += ',\\'' + data[3] + '\\')'\n}\nelse\n{\n    values += ',\\'' + 'NULL' + '\\')'\n}\n\nvar query = `INSERT INTO employee (id, name, role, permission, pw) ` + values \n\nmsg.topic = query\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 240,
        "wires": [
            [
                "e9758a47371b79f7",
                "194a007f64f0b4b7"
            ]
        ]
    },
    {
        "id": "248ea0b3350d88d3",
        "type": "mqtt out",
        "z": "bcd029bb2fd55e96",
        "name": "",
        "topic": "IOT_Smart_Door/RFID/Get_New_Card_Info",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0613d1a52be909e0",
        "x": 1990,
        "y": 240,
        "wires": []
    },
    {
        "id": "2592cd50f27e3adf",
        "type": "function",
        "z": "bcd029bb2fd55e96",
        "name": "Enable/Disable button",
        "func": "\nif (msg.payload == \"register\")\n{\n    msg.background = \"green\";\n    msg.enabled = true\n}\nelse{\n    msg.background = \"grey\"\n    msg.enabled = false\n}\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 360,
        "wires": [
            [
                "f11fc7385b91d72a"
            ]
        ]
    },
    {
        "id": "3aa9ec6707f32480",
        "type": "mqtt in",
        "z": "bcd029bb2fd55e96",
        "name": "",
        "topic": "IOT_Smart_Door/RFID/Register_NewCard",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0613d1a52be909e0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 360,
        "wires": [
            [
                "2592cd50f27e3adf"
            ]
        ]
    },
    {
        "id": "435241551983f170",
        "type": "function",
        "z": "bcd029bb2fd55e96",
        "name": "check input values",
        "func": "var id = flow.get('id') || ''\nvar name = flow.get('name') || ''\nvar role = flow.get('role') || ''\nvar pw = flow.get('pw') || ''\n\nvar personInfor = [id, name, role, pw]\nvar numInfor = 0\nif (role == 'M')\n{\n    numInfor = 4\n}\nelse\n{\n    numInfor = 3\n}\n\nfor (var i = 0; i < numInfor; i++)\n{\n    if (personInfor[i].length == 0)\n    {\n        msg.payload = 0\n        return msg\n    }\n}\nflow.set('personInfor', personInfor)\nmsg.payload = 1\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 360,
        "wires": [
            [
                "0dc18b814924f3e5"
            ]
        ]
    },
    {
        "id": "0dc18b814924f3e5",
        "type": "switch",
        "z": "bcd029bb2fd55e96",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 950,
        "y": 360,
        "wires": [
            [
                "4c4c0c85bddf39fb"
            ],
            [
                "aca5546c597376f7"
            ]
        ]
    },
    {
        "id": "e9758a47371b79f7",
        "type": "mysql",
        "z": "bcd029bb2fd55e96",
        "mydb": "e40f3dd7850268b2",
        "name": "INSERT REGISTER DATA",
        "x": 1400,
        "y": 240,
        "wires": [
            [
                "0b19426b88e44605",
                "b67be873fceebf90",
                "9352ca7d6e0b193c",
                "e57f30af57180567"
            ]
        ]
    },
    {
        "id": "a34bfa8eae86b884",
        "type": "catch",
        "z": "bcd029bb2fd55e96",
        "name": "",
        "scope": [
            "e9758a47371b79f7",
            "4292171d252bd65d"
        ],
        "uncaught": false,
        "x": 1070,
        "y": 140,
        "wires": [
            [
                "a7a9b6514eee1064"
            ]
        ]
    },
    {
        "id": "fa099a47d75d5bca",
        "type": "ui_toast",
        "z": "bcd029bb2fd55e96",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1450,
        "y": 140,
        "wires": []
    },
    {
        "id": "a7a9b6514eee1064",
        "type": "function",
        "z": "bcd029bb2fd55e96",
        "name": "catch errors",
        "func": "msg.payload = msg.error.message\nmsg.topic = \"try again\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 140,
        "wires": [
            [
                "fa099a47d75d5bca"
            ]
        ]
    },
    {
        "id": "d2396ba049d9260a",
        "type": "comment",
        "z": "bcd029bb2fd55e96",
        "name": "catch erros",
        "info": "Catch errors when insert values to database",
        "x": 1080,
        "y": 80,
        "wires": []
    },
    {
        "id": "e3781662c4f7729e",
        "type": "ui_toast",
        "z": "bcd029bb2fd55e96",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1330,
        "y": 440,
        "wires": []
    },
    {
        "id": "aca5546c597376f7",
        "type": "function",
        "z": "bcd029bb2fd55e96",
        "name": "input notification",
        "func": "msg.payload = \"Please input all the text box\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 440,
        "wires": [
            [
                "e3781662c4f7729e"
            ]
        ]
    },
    {
        "id": "df5bf6a5d225b2c1",
        "type": "function",
        "z": "bcd029bb2fd55e96",
        "name": "push id to flow",
        "func": "flow.set('id', msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "11376ebb65e7be6e",
        "type": "function",
        "z": "bcd029bb2fd55e96",
        "name": "push name to flow",
        "func": "flow.set('name', msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "93334d9b48d41b56",
        "type": "function",
        "z": "bcd029bb2fd55e96",
        "name": "push role to flow",
        "func": "flow.set('role', msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "0b19426b88e44605",
        "type": "function",
        "z": "bcd029bb2fd55e96",
        "name": "get personInfor from flow",
        "func": "msg.payload = flow.get('personInfor')\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1670,
        "y": 240,
        "wires": [
            [
                "248ea0b3350d88d3"
            ]
        ]
    },
    {
        "id": "121458b9efbb3762",
        "type": "ui_toast",
        "z": "bcd029bb2fd55e96",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1890,
        "y": 180,
        "wires": []
    },
    {
        "id": "b67be873fceebf90",
        "type": "function",
        "z": "bcd029bb2fd55e96",
        "name": "successfully register",
        "func": "msg.payload = \"successfully register\"\nmsg.topic = \"\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 180,
        "wires": [
            [
                "121458b9efbb3762"
            ]
        ]
    },
    {
        "id": "b2680d0582373c27",
        "type": "mysql",
        "z": "bcd029bb2fd55e96",
        "mydb": "e40f3dd7850268b2",
        "name": "Show employee infor",
        "x": 1920,
        "y": 440,
        "wires": [
            [
                "60de98aa47ed846a",
                "c6a19959f5e6e0a1"
            ]
        ]
    },
    {
        "id": "9352ca7d6e0b193c",
        "type": "function",
        "z": "bcd029bb2fd55e96",
        "name": "query all",
        "func": "var query\nquery = 'select id, name, role, permission from employee'\nmsg.topic = query\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1720,
        "y": 440,
        "wires": [
            [
                "b2680d0582373c27"
            ]
        ]
    },
    {
        "id": "60de98aa47ed846a",
        "type": "ui_table",
        "z": "bcd029bb2fd55e96",
        "group": "66c01cef2411ea31",
        "name": "",
        "order": 1,
        "width": 23,
        "height": 9,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 2150,
        "y": 440,
        "wires": []
    },
    {
        "id": "a51884f0b592095f",
        "type": "inject",
        "z": "bcd029bb2fd55e96",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1550,
        "y": 440,
        "wires": [
            [
                "9352ca7d6e0b193c"
            ]
        ]
    },
    {
        "id": "63499364e77d8ac9",
        "type": "ui_text_input",
        "z": "bcd029bb2fd55e96",
        "name": "",
        "label": "id delete",
        "tooltip": "",
        "group": "f9c40dfb452af412",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 900,
        "y": 580,
        "wires": [
            [
                "95c0ae66b4d3aa6d"
            ]
        ]
    },
    {
        "id": "95c0ae66b4d3aa6d",
        "type": "function",
        "z": "bcd029bb2fd55e96",
        "name": "push delete ID",
        "func": "flow.set('idDel', msg.payload)\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "382e24d1134bdc66",
        "type": "ui_button",
        "z": "bcd029bb2fd55e96",
        "name": "",
        "group": "f9c40dfb452af412",
        "order": 17,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Delete",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 910,
        "y": 640,
        "wires": [
            [
                "6d7bd924cb58d918"
            ]
        ]
    },
    {
        "id": "6d7bd924cb58d918",
        "type": "function",
        "z": "bcd029bb2fd55e96",
        "name": "create delete query",
        "func": "var id = flow.get('idDel') || ''\nvar query = 'delete from employee where id = \\'' + id + '\\''\nmsg.topic = query\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 640,
        "wires": [
            [
                "4292171d252bd65d"
            ]
        ]
    },
    {
        "id": "4292171d252bd65d",
        "type": "mysql",
        "z": "bcd029bb2fd55e96",
        "mydb": "e40f3dd7850268b2",
        "name": "Delete data",
        "x": 1390,
        "y": 640,
        "wires": [
            [
                "9352ca7d6e0b193c"
            ]
        ]
    },
    {
        "id": "715abe913b0ae1ca",
        "type": "ui_text_input",
        "z": "bcd029bb2fd55e96",
        "name": "",
        "label": "id update",
        "tooltip": "",
        "group": "f9c40dfb452af412",
        "order": 5,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 900,
        "y": 740,
        "wires": [
            [
                "a438d9a5db15f31f"
            ]
        ]
    },
    {
        "id": "eaafadb01694e577",
        "type": "ui_dropdown",
        "z": "bcd029bb2fd55e96",
        "name": "",
        "label": "Permission",
        "tooltip": "",
        "place": "Select option",
        "group": "f9c40dfb452af412",
        "order": 9,
        "width": 4,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "YES",
                "value": "YES",
                "type": "str"
            },
            {
                "label": "NO",
                "value": "NO",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 910,
        "y": 800,
        "wires": [
            [
                "af858a2e7aa752cb"
            ]
        ]
    },
    {
        "id": "a438d9a5db15f31f",
        "type": "function",
        "z": "bcd029bb2fd55e96",
        "name": "push ID update",
        "func": "flow.set('idUpdate', msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "af858a2e7aa752cb",
        "type": "function",
        "z": "bcd029bb2fd55e96",
        "name": "push permission",
        "func": "flow.set('permission', msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "04cbd0660fe4ab4a",
        "type": "ui_button",
        "z": "bcd029bb2fd55e96",
        "name": "",
        "group": "f9c40dfb452af412",
        "order": 19,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Update",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 900,
        "y": 860,
        "wires": [
            [
                "6897e6cde9101533"
            ]
        ]
    },
    {
        "id": "6897e6cde9101533",
        "type": "function",
        "z": "bcd029bb2fd55e96",
        "name": "create update query",
        "func": "var id = flow.get('idUpdate') || ''\nvar permission = flow.get('permission') || ''\nvar query = 'update employee set permission = \\'' + permission + '\\' where id = \\'' + id + '\\' and role = \\'E\\''\nmsg.topic = query\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 860,
        "wires": [
            [
                "8ebef5eccfb66df1"
            ]
        ]
    },
    {
        "id": "8ebef5eccfb66df1",
        "type": "mysql",
        "z": "bcd029bb2fd55e96",
        "mydb": "e40f3dd7850268b2",
        "name": "Update",
        "x": 1400,
        "y": 860,
        "wires": [
            [
                "9352ca7d6e0b193c",
                "f9f0f639c2dea015"
            ]
        ]
    },
    {
        "id": "c6a19959f5e6e0a1",
        "type": "debug",
        "z": "bcd029bb2fd55e96",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2220,
        "y": 380,
        "wires": []
    },
    {
        "id": "f9f0f639c2dea015",
        "type": "debug",
        "z": "bcd029bb2fd55e96",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1620,
        "y": 860,
        "wires": []
    },
    {
        "id": "afa8b05c7c2fdf70",
        "type": "comment",
        "z": "bcd029bb2fd55e96",
        "name": "Delete",
        "info": "",
        "x": 770,
        "y": 620,
        "wires": []
    },
    {
        "id": "a967ca03d12f5d24",
        "type": "comment",
        "z": "bcd029bb2fd55e96",
        "name": "Change permission",
        "info": "",
        "x": 710,
        "y": 800,
        "wires": []
    },
    {
        "id": "11395e30b8bebc63",
        "type": "ui_button",
        "z": "bcd029bb2fd55e96",
        "name": "",
        "group": "eb817dcd1bf43434",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Home",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "home",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 40,
        "wires": [
            [
                "67bf4cc0a8b4240e"
            ]
        ]
    },
    {
        "id": "a2ee63b10de1bcbf",
        "type": "ui_ui_control",
        "z": "bcd029bb2fd55e96",
        "name": "",
        "events": "all",
        "x": 600,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "67bf4cc0a8b4240e",
        "type": "change",
        "z": "bcd029bb2fd55e96",
        "name": "move to home page",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Home\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 40,
        "wires": [
            [
                "a2ee63b10de1bcbf"
            ]
        ]
    },
    {
        "id": "711f534fd9ad08c0",
        "type": "ui_text_input",
        "z": "bcd029bb2fd55e96",
        "name": "",
        "label": "password",
        "tooltip": "",
        "group": "f9c40dfb452af412",
        "order": 13,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 700,
        "y": 260,
        "wires": [
            [
                "3d7d6d0dabe3bf21"
            ]
        ]
    },
    {
        "id": "4777ccd6e3f3de36",
        "type": "function",
        "z": "bcd029bb2fd55e96",
        "name": "Enabled/Disabled text input",
        "func": "if (msg.payload == 'M')\n{\n    msg.enabled = true\n}\nelse\n{\n    msg.enabled = false\n}\nmsg.payload = ''\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 260,
        "wires": [
            [
                "711f534fd9ad08c0"
            ]
        ]
    },
    {
        "id": "3d7d6d0dabe3bf21",
        "type": "function",
        "z": "bcd029bb2fd55e96",
        "name": "push pw to flow",
        "func": "flow.set('pw', msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "e94da6e3fb97a489",
        "type": "inject",
        "z": "bcd029bb2fd55e96",
        "name": "disable pw input",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 260,
        "wires": [
            [
                "4777ccd6e3f3de36"
            ]
        ]
    },
    {
        "id": "194a007f64f0b4b7",
        "type": "debug",
        "z": "bcd029bb2fd55e96",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 300,
        "wires": []
    },
    {
        "id": "e57f30af57180567",
        "type": "debug",
        "z": "bcd029bb2fd55e96",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1660,
        "y": 320,
        "wires": []
    },
    {
        "id": "092154753120a7fb",
        "type": "inject",
        "z": "bcd029bb2fd55e96",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 420,
        "wires": [
            [
                "2592cd50f27e3adf"
            ]
        ]
    },
    {
        "id": "cf77d4e32de13b8b",
        "type": "mqtt in",
        "z": "9a707663dfc1990e",
        "name": "",
        "topic": "IOT_Smart_Door/Req_Enter",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0613d1a52be909e0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 260,
        "wires": [
            [
                "9f67e7958ecfab41"
            ]
        ]
    },
    {
        "id": "9f67e7958ecfab41",
        "type": "function",
        "z": "9a707663dfc1990e",
        "name": "search ID in db",
        "func": "var id = msg.payload\nvar query = 'select * from employee where id = \\'' + id + '\\''\nmsg.topic =  query\nmsg.id = id\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 260,
        "wires": [
            [
                "3616cb7fee37e1fa"
            ]
        ]
    },
    {
        "id": "3616cb7fee37e1fa",
        "type": "mysql",
        "z": "9a707663dfc1990e",
        "mydb": "e40f3dd7850268b2",
        "name": " SEARCH ID",
        "x": 650,
        "y": 260,
        "wires": [
            [
                "c94488baecfcb21c"
            ]
        ]
    },
    {
        "id": "5d1400843c58c405",
        "type": "http request",
        "z": "9a707663dfc1990e",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://maker.ifttt.com/trigger/Access notification/with/key/cui7hjUIvdp6gsfLaGG0z9nEgxyHukNSQWBI7JVasGU?value1={{id}};value2={{name}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1050,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "c94488baecfcb21c",
        "type": "function",
        "z": "9a707663dfc1990e",
        "name": "get id and name",
        "func": "msg.id = msg.payload[0].id\nmsg.name = msg.payload[0].name\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 260,
        "wires": [
            [
                "5d1400843c58c405"
            ]
        ]
    }
]