final submit/8_21127147_21127365_21127644.json
[
    {
        "id": "2e26369f7f940c24",
        "type": "tab",
        "label": "Thiết bị báo cháy",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a018b3f7cd25a312",
        "type": "mqtt in",
        "z": "2e26369f7f940c24",
        "name": "Temp",
        "topic": "21127147_21127365_21127644/Temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "da7bccd19b4273da",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 240,
        "wires": [
            [
                "a03dbc02772ad149",
                "b25b707c8d4dada2"
            ]
        ]
    },
    {
        "id": "a03dbc02772ad149",
        "type": "ui_gauge",
        "z": "2e26369f7f940c24",
        "name": "",
        "group": "e5af3f85d9970c9e",
        "order": 2,
        "width": 7,
        "height": 12,
        "gtype": "gage",
        "title": "Nhiệt độ",
        "label": "units",
        "format": "{{msg.payload.temperature|number:2}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 760,
        "y": 240,
        "wires": []
    },
    {
        "id": "8fbf48b072e4787f",
        "type": "ui_gauge",
        "z": "2e26369f7f940c24",
        "name": "",
        "group": "e5af3f85d9970c9e",
        "order": 3,
        "width": 7,
        "height": 12,
        "gtype": "gage",
        "title": "Độ ẩm",
        "label": "units",
        "format": "{{msg.payload.humidity|number:2}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 400,
        "wires": []
    },
    {
        "id": "6df97af514f04c22",
        "type": "ui_gauge",
        "z": "2e26369f7f940c24",
        "name": "",
        "group": "e5af3f85d9970c9e",
        "order": 4,
        "width": 7,
        "height": 12,
        "gtype": "gage",
        "title": "Nồng độ khí ô nhiễm",
        "label": "units",
        "format": "{{msg.payload.ppm|number:2}}",
        "min": 0,
        "max": "1200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 520,
        "wires": []
    },
    {
        "id": "261f17e28f27fe19",
        "type": "mqtt out",
        "z": "2e26369f7f940c24",
        "name": "Request",
        "topic": "Request/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "da7bccd19b4273da",
        "x": 800,
        "y": 680,
        "wires": []
    },
    {
        "id": "f2e23808c54edfdd",
        "type": "mqtt in",
        "z": "2e26369f7f940c24",
        "name": "Humidnity",
        "topic": "21127147_21127365_21127644/Humid",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "da7bccd19b4273da",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 400,
        "wires": [
            [
                "8fbf48b072e4787f",
                "31bab44dff605dee"
            ]
        ]
    },
    {
        "id": "eee4c0475e3e85b2",
        "type": "mqtt in",
        "z": "2e26369f7f940c24",
        "name": "PPM",
        "topic": "21127147_21127365_21127644/PPM",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "da7bccd19b4273da",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 520,
        "wires": [
            [
                "6df97af514f04c22",
                "41cc20773014144b"
            ]
        ]
    },
    {
        "id": "b25b707c8d4dada2",
        "type": "debug",
        "z": "2e26369f7f940c24",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 300,
        "wires": []
    },
    {
        "id": "31bab44dff605dee",
        "type": "debug",
        "z": "2e26369f7f940c24",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 460,
        "wires": []
    },
    {
        "id": "41cc20773014144b",
        "type": "debug",
        "z": "2e26369f7f940c24",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 580,
        "wires": []
    },
    {
        "id": "48b9993b1afc2a17",
        "type": "ui_switch",
        "z": "2e26369f7f940c24",
        "name": "",
        "label": "Request",
        "tooltip": "",
        "group": "e5af3f85d9970c9e",
        "order": 6,
        "width": 7,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "Request/data",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 520,
        "y": 680,
        "wires": [
            [
                "261f17e28f27fe19"
            ]
        ]
    },
    {
        "id": "7339426a656b085b",
        "type": "mqtt in",
        "z": "2e26369f7f940c24",
        "name": "Trạng Thái",
        "topic": "21127147_21127365_21127644/state",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "da7bccd19b4273da",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 140,
        "wires": [
            [
                "31061b7a1da14d33",
                "7c3f41fa8f85bc08"
            ]
        ]
    },
    {
        "id": "31061b7a1da14d33",
        "type": "ui_text",
        "z": "2e26369f7f940c24",
        "group": "e5af3f85d9970c9e",
        "order": 1,
        "width": 21,
        "height": 1,
        "name": "Trạng thái",
        "label": "Trạng Thái",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "22",
        "color": "#605b52",
        "x": 760,
        "y": 140,
        "wires": []
    },
    {
        "id": "7c3f41fa8f85bc08",
        "type": "debug",
        "z": "2e26369f7f940c24",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 200,
        "wires": []
    },
    {
        "id": "d86ef45b758f5f25",
        "type": "ui_ui_control",
        "z": "2e26369f7f940c24",
        "name": "ResetState",
        "events": "change",
        "x": 230,
        "y": 680,
        "wires": [
            [
                "48b9993b1afc2a17"
            ]
        ]
    },
    {
        "id": "852491cbb65a04cb",
        "type": "ui_spacer",
        "z": "2e26369f7f940c24",
        "name": "spacer",
        "group": "e5af3f85d9970c9e",
        "order": 5,
        "width": 7,
        "height": 1
    },
    {
        "id": "45c4d28a54e1457b",
        "type": "ui_spacer",
        "z": "2e26369f7f940c24",
        "name": "spacer",
        "group": "e5af3f85d9970c9e",
        "order": 7,
        "width": 7,
        "height": 1
    },
    {
        "id": "da7bccd19b4273da",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e5af3f85d9970c9e",
        "type": "ui_group",
        "name": "",
        "tab": "f4dc64ef9d82bdc4",
        "order": 1,
        "disp": true,
        "width": "21",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f4dc64ef9d82bdc4",
        "type": "ui_tab",
        "name": "Thiết bị báo cháy",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]